# ISO-SWS data preprocessing: convert to pickled dataframes

In [2]:
import glob
import matplotlib.pyplot as plt
import numpy as np
import os
import pandas as pd

from astropy import units as u
from astropy.coordinates import SkyCoord
from astropy.io import fits
from astropy.table import Table
from IPython.core.debugger import set_trace as st
from scipy.interpolate import splev, splrep

In [3]:
# Some useful functions....
cassis_wave = np.loadtxt('isosws_misc/cassis_wavelength_grid.txt', delimiter=',')

def convert_fits_to_pickle(path, verify_pickle=False, verbose=False, match_cassis_wavegrid=False):
    """Full conversion from ISO-SWS <filename.fits to <filename>.pkl, which contains a pd.DataFrame.
    
    Args:
        path (str): Path to <filename>.fits file (of an ISO-SWS observation).
        verify_pickle (bool): Confirm the pickle was succesful created; does so by comparing the
            pd.DataFrame before and after writing the pickle.
        
    Returns:
        True if successful.
        
    Note:
        DataFrame can be retrieved from the pickle by, e.g., df = pd.read_pickle(pickle_path).
    """
    
    if verbose:
        print('Pickling: ', path)
    
    # Convert .fits file to pandas DataFrame, header.Header object.
    df, header = isosws_fits_to_dataframe(path)

    # Downsample to match the CASSIS wavegrid if desired.
    if match_cassis_wavegrid:
        df = downsample_to_cassis(df)
    
    # Determine the pickle_path to save to. Being explicit here to 'pickle_path' is clear.
    base_filename = path.replace('.fit', '.pkl').split('/')[-1]
    
    # Save the dataframe to a pickle.
    pickle_path = 'isosws_dataframes/' + base_filename
    df.to_pickle(pickle_path)
    
    if verbose:
        print('...saved: ', pickle_path)

    # Test dataframes for equality before/after pickling if verify_pickle == True.
    if verify_pickle:
        tmp_df = pd.read_pickle(pickle_path)
        if df.equals(tmp_df):
            if verbose:
                print()
                print('DataFrame integrity verified -- pickling went OK!')
                print()
        else:
            raise ValueError('Dataframes not equal before/after pickling!')
    
    return pickle_path


def isosws_fits_to_dataframe(path, test_for_monotonicity=True):
    """Take an ISO-SWS .fits file, return a pandas DataFrame containing the data (with labels) and astropy header.
    
    Args:
        path (str): Path of the .fits file (assumed to be an ISO-SWS observation file).
        test_for_monotonicity (bool, optional): Check that the wavelength grid is monotinically increasing.
        
    Returns:
        df (pd.DataFrame): Pandas dataframe with appropriate labels (wavelength, flux, etc.).
        header (astropy.io.fits.header.Header): Information about observation from telescope.
        
    Note:
        Header can be manipulated with, e.g., header.totextfile(some_path).
        See http://docs.astropy.org/en/stable/io/fits/api/headers.html.
    """
    
    def monotonically_increasing(array):
        """Test if a list has monotonically increasing elements. Thank you stack overflow."""
        return all(x < y for x, y in zip(array, array[1:]))
    
    # Read in .fits file.
    hdu = fits.open(path)
    
    # Retrieve the header object.
    header = hdu[0].header
    
    # Extract column labels/descriptions from header.
    # Can't do this because the header is not well-defined. That's OK, hard-coded the new column names below.
    
    # Convert data to pandas DataFrame.
    dtable = Table(test_hdu[0].data)
    df = dtable.to_pandas()
    
    # Convert the nondescriptive column labels (e.g., 'col01def', 'col02def') to descriptive labels.
    old_keys = list(df.keys())
    new_keys = ['wavelength', 'flux', 'spec_error', 'norm_error']
    mydict = dict(zip(old_keys, new_keys))
    df = df.rename(columns=mydict)  # Renamed DataFrame columns here.
    
    if test_for_monotonicity:
         if not monotonically_increasing(df['wavelength']):
                raise ValueError('Wavelength array not monotonically increasing!', path)
    
    return df, header


def downsample_to_cassis(df):
    """Downsample to match the wavelength grid of CASSIS."""
    
    wave = df['wavelength']
    flux = df['flux']
    spec_error = df['spec_error']
    norm_error = df['norm_error']

    def spline(x, y, new_x):
        spline_model = splrep(x=x, y=y)
        new_y = splev(x=new_x, tck=spline_model)
        return new_y

    new_wave = cassis_wave
    new_flux = spline(wave, flux, new_wave)
    new_spec_error = spline(wave, spec_error, new_wave)
    new_norm_error = spline(wave, norm_error, new_wave)

    col_stack = np.column_stack([new_wave, new_flux, new_spec_error, new_norm_error])
    col_names = ['wavelength', 'flux', 'spec_error', 'norm_error']

    df2 = pd.DataFrame(col_stack, columns=col_names)
    
    return df2

***

## Find out how many files we're working with

In [4]:
spec_dir = 'spectra/'
spec_files = np.sort(glob.glob(spec_dir + '*.fit'))

In [5]:
len(spec_files)

1262

## Convert spectra to dataframes and save to disk as pickles

In [8]:
perform_conversion = False

In [9]:
# Note the break I've added; remove for full conversion.
if perform_conversion:
    print('=============================\nConverting fits files...\n=============================\n')

    # Iterate over all the fits files and convert them.
    for index, fits_file in enumerate(spec_files):
#         if index >= 22:
#             break

        if index % 20 == 0:
            print(index, '/', len(spec_files))

        pickle_path = convert_fits_to_pickle(fits_file, verify_pickle=True, verbose=False, match_cassis_wavegrid=True)

    print('\n=============================\nComplete.\n=============================')

## Build dataframe containing metadata (including labels) and paths to pickled files.

###### Creates isosws_metadata_df.pkl.

In [10]:
# Only do this once.
recreate_meta_pickle = True

if recreate_meta_pickle:
    def create_swsmeta_dataframe():
        """Create a dataframe that contains the metadata for the ISO-SWS Atlas."""
        
        def simbad_results():
            """Create a dictionary of the SIMBAD object type query results."""
            simbad_results = np.loadtxt('isosws_misc/simbad_type.csv', delimiter=';', dtype=str)
            simbad_dict = dict(simbad_results)
            return simbad_dict
        
        def sexagesimal_to_degree(tupe):
            """Convert from hour:minute:second to degrees."""
            sex_str = tupe[0] + ' ' + tupe[1]
            c = SkyCoord(sex_str, unit=(u.hourangle, u.deg))
            return c.ra.deg, c.dec.deg        
        
        def transform_ra_dec_into_degrees(df):
            """Perform full ra, dec conversion to degrees."""
            ra = []
            dec = []
            for index, value in enumerate(zip(df['ra'], df['dec'])):
                ra_deg, dec_deg = sexagesimal_to_degree(value)
                ra.append(ra_deg)
                dec.append(dec_deg)
            df = df.assign(ra=ra)
            df = df.assign(dec=dec)
            return df

        # Read in the metadata
        meta_filename = 'isosws_misc/kraemer_class.csv'
        swsmeta = np.loadtxt(meta_filename, delimiter=';', dtype=str)
        df = pd.DataFrame(swsmeta[1:], columns=swsmeta[0])
        
        # Add a column for the pickle paths (dataframes with wave, flux, etc).
        pickle_paths = ['isosws_dataframes/' + x + '_sws.pkl' for x in df['tdt']]
        df = df.assign(file_path=pickle_paths)
        
        # Add a column for SIMBAD type, need to query 'simbad_type.csv' for this. Not in order naturally...
        object_names = df['object_name']
        object_type_dict = simbad_results()
        object_types = [object_type_dict.get(key, "empty") for key in object_names]
        df = df.assign(object_type=object_types)

        # Transform ra and dec into degrees.
        df = transform_ra_dec_into_degrees(df)
        
        return df
    
    df = create_swsmeta_dataframe()
    df.to_pickle('isosws_metadata_df.pkl')

In [11]:
df.head()

,object_name,tdt,ra,dec,full_classifier,group,subgroup,uncertainty_flag,note,,file_path,object_type
0,W Cet,37802225,0.532083,-14.676639,2.SEa:,2,SEa,1,,,isosws_dataframes/37802225_sws.pkl,S*
1,SV And,42801007,1.083333,40.110333,2.SEa:,2,SEa,1,,,isosws_dataframes/42801007_sws.pkl,Mira
2,SV And,80800708,1.083333,40.110333,2.SEa,2,SEa,,,,isosws_dataframes/80800708_sws.pkl,Mira
3,CIT 1,78201008,1.717917,43.076667,7,7,,,W,,isosws_dataframes/78201008_sws.pkl,Mira
4,HR 10,37802001,1.825833,-17.387000,1.NM:,1,NM,1,,,isosws_dataframes/37802001_sws.pkl,Star

In [12]:
mdf = pd.read_pickle('isosws_metadata_df.pkl')
mdf

,object_name,tdt,ra,dec,full_classifier,group,subgroup,uncertainty_flag,note,,file_path,object_type
0,W Cet,37802225,0.532083,-14.676639,2.SEa:,2,SEa,1,,,isosws_dataframes/37802225_sws.pkl,S*
1,SV And,42801007,1.083333,40.110333,2.SEa:,2,SEa,1,,,isosws_dataframes/42801007_sws.pkl,Mira
2,SV And,80800708,1.083333,40.110333,2.SEa,2,SEa,,,,isosws_dataframes/80800708_sws.pkl,Mira
3,CIT 1,78201008,1.717917,43.076667,7,7,,,W,,isosws_dataframes/78201008_sws.pkl,Mira
4,HR 10,37802001,1.825833,-17.387000,1.NM:,1,NM,1,,,isosws_dataframes/37802001_sws.pkl,Star
5,{beta} Cas,28501420,2.293625,59.149944,1.N,1,N,,,,isosws_dataframes/28501420_sws.pkl,Star
6,V633 Cas,43501514,2.860833,58.834444,5.SE,5,SE,,W,,isosws_dataframes/43501514_sws.pkl,Ae*
7,NGC 40,44401917,3.253792,72.522222,4.PN,4,PN,,,,isosws_dataframes/44401917_sws.pkl,PN
8,NGC 40,30003803,3.254583,72.521972,4.PN,4,PN,,,,isosws_dataframes/30003803_sws.pkl,PN
9,HR 48,55502138,3.660000,-18.932889,1.NO,1,NO,,,,isosws_dataframes/55502138_sws.pkl,Candidate_LP*
10,S Scl,73500129,3.842417,-32.045389,2.SEb,2,SEb,,,,isosws_dataframes/73500129_sws.pkl,Mira
11,S Scl,37102018,3.842458,-32.045556,2.SEb,2,SEb,,,,isosws_dataframes/37102018_sws.pkl,Mira
12,IRAS 00127+5437,39902101,3.850542,54.904278,4.SE::,4,SE,2,,,isosws_dataframes/39902101_sws.pkl,IR
13,VX And,42801502,4.975417,44.709722,2.CE,2,CE,,,,isosws_dataframes/42801502_sws.pkl,semi-regV*
14,T Cet,55502308,5.441792,-20.058556,2.SEa,2,SEa,,,,isosws_dataframes/55502308_sws.pkl,S*
15,T Cet,37801819,5.444083,-20.057778,2.SEa,2,SEa,,F,,isosws_dataframes/37801819_sws.pkl,S*
16,RAFGL 5017,54900858,5.450000,-40.286944,4.SEC:,4,SEC,1,,,isosws_dataframes/54900858_sws.pkl,Mira
17,T Cas,40201208,5.809375,55.792694,2.SEa,2,SEa,,,,isosws_dataframes/40201208_sws.pkl,Mira
18,IRAS 00210+6221,40401901,5.963333,62.635278,4.CR,4,CR,,,,isosws_dataframes/40401901_sws.pkl,C*
19,IRAS 00211+6549,44402001,5.991667,66.100889,5.F:,5,F,1,,,isosws_dataframes/44402001_sws.pkl,YSO
20,R And,40201723,6.008333,38.576944,2.SEc,2,SEc,,,,isosws_dataframes/40201723_sws.pkl,S*
21,47 Tuc,74803701,6.021250,-72.080694,7,7,,,R,,isosws_dataframes/74803701_sws.pkl,GlCl
22,Off-{beta}Hyi,17900204,6.428542,-77.254778,7,7,,,,,isosws_dataframes/17900204_sws.pkl,V*
23,{beta} Hyi,85000604,6.433708,-77.254611,1.N,1,N,,,,isosws_dataframes/85000604_sws.pkl,V*
24,Off-{beta}Hyi,9200604,6.447250,-77.254806,7,7,,,F,,isosws_dataframes/9200604_sws.pkl,V*
25,{kappa} Phe,23200502,6.550667,-43.680306,1.NM:,1,NM,1,,,isosws_dataframes/23200502_sws.pkl,Star
26,VX Cas,42701004,7.833333,62.000000,7,7,,,W,,isosws_dataframes/42701004_sws.pkl,Ae*
27,RNO 1B,28500902,9.192750,63.481778,5.F,5,F,,,,isosws_dataframes/28500902_sws.pkl,FUOr
28,M 31,40001501,10.691708,41.269972,7,7,,,G,,isosws_dataframes/40001501_sws.pkl,Galaxy
29,WR 1,42500402,10.868333,64.762361,7,7,,,,,isosws_dataframes/42500402_sws.pkl,WR*
...,...,...,...,...,...,...,...,...,...,...,...,...
1218,{upsilon} Peg,21900653,351.344375,23.404111,1.N:,1,N,1,,,isosws_dataframes/21900653_sws.pkl,PM*
1219,NGC 7662,43700427,351.474417,42.534833,4.PN,4,PN,,,,isosws_dataframes/43700427_sws.pkl,PN
1220,Hb 12,43700330,351.561167,58.181861,4.SECe,4,SECe,,,,isosws_dataframes/43700330_sws.pkl,
1221,RU Phe,34401919,352.034583,-47.458139,2.SEc:,2,SEc,1,,,isosws_dataframes/34401919_sws.pkl,Mira
1222,AFGL 3099,78200523,352.070417,10.911111,3.CR,3,CR,,,,isosws_dataframes/78200523_sws.pkl,Mira
1223,IRAS 23262+6401,43305805,352.115417,64.292472,5.SA,5,SA,,,,isosws_dataframes/43305805_sws.pkl,IR
1224,V582 Cas,38501620,352.545208,60.276139,2.SEc,2,SEc,,,,isosws_dataframes/38501620_sws.pkl,semi-regV*
1225,V582 Cas,42300804,352.613875,57.976250,2.SEc,2,SEc,,,,isosws_dataframes/42300804_sws.pkl,semi-regV*
1226,IRAS 23304+6147,24800452,353.187250,62.063750,4.CT,4,CT,,,,isosws_dataframes/24800452_sws.pkl,post-AGB*
1227,IRAS 23304+6147,39601867,353.187250,62.063778,4.CT,4,CT,,,,isosws_dataframes/39601867_sws.pkl,post-AGB*
1228,IRAS 23304+6147,8502452,353.187292,62.063750,4.CT,4,CT,,F,,isosws_dataframes/8502452_sws.pkl,post-AGB*
1229,IRAS 23321+6545,25500248,353.593875,66.030667,4.CN:,4,CN,1,,,isosws_dataframes/25500248_sws.pkl,C*
1230,IRC +40540,38201557,353.616083,43.550111,3.CR,3,CR,,,,isosws_dataframes/38201557_sws.pkl,Mira
1231,Nova Cas 1993,24800307,355.446625,57.517028,6,6,,,,,isosws_dataframes/24800307_sws.pkl,Nova
1232,R Aqr,18100530,355.955667,-15.284528,2.SEc,2,SEc,,,,isosws_dataframes/18100530_sws.pkl,Symbiotic*
1233,PZ Cas,9502846,356.013750,61.789528,2.SEc,2,SEc,,,,isosws_dataframes/9502846_sws.pkl,semi-regV*
1234,PZ Cas,42604702,356.013750,61.789528,2.SEc,2,SEc,,,,isosws_dataframes/42604702_sws.pkl,semi-regV*
1235,Z Cas,10101714,356.131208,56.581278,2.SEap,2,SEap,,,,isosws_dataframes/10101714_sws.pkl,Mira
1236,TX Psc,75700419,356.597917,3.486667,1.NC,1,NC,,,,isosws_dataframes/75700419_sws.pkl,C*
1237,TX Psc,55501379,356.597917,3.486833,1.NC,1,NC,,,,isosws_dataframes/55501379_sws.pkl,C*
1238,HR 9043,40400904,358.336625,-24.229250,7,7,,,R,,isosws_dataframes/40400904_sws.pkl,Star
1239,M 2-56,43700232,359.151958,70.803639,4.SB,4,SB,,,,isosws_dataframes/43700232_sws.pkl,
1240,R Cas,24800223,359.603208,51.388528,2.SEb,2,SEb,,,,isosws_dataframes/24800223_sws.pkl,Mira
1241,R Cas,26301524,359.603208,51.388556,2.SEb,2,SEb,,F,,isosws_dataframes/26301524_sws.pkl,Mira
1242,R Cas,38300825,359.603250,51.388556,2.SEb,2,SEb,,,,isosws_dataframes/38300825_sws.pkl,Mira
1243,R Cas,39501330,359.603250,51.388556,2.SEb,2,SEb,,,,isosws_dataframes/39501330_sws.pkl,Mira
1244,R Cas,42100215,359.603250,51.388556,2.SEb,2,SEb,,,,isosws_dataframes/42100215_sws.pkl,Mira
1245,R Cas,44301926,359.603250,51.388556,2.SEb,2,SEb,,,,isosws_dataframes/44301926_sws.pkl,Mira
1246,R Cas,62702122,359.603250,51.388556,2.SEb,2,SEb,,,,isosws_dataframes/62702122_sws.pkl,Mira
1247,R Cas,38302016,359.603292,51.388667,2.SEb,2,SEb,,,,isosws_dataframes/38302016_sws.pkl,Mira

***

***

***

# Appendix A -- Example transformation from .fits to pd.dataframe

#### Convert spectrum file to dataframe, header

In [63]:
# Grab the first file from the glob list.
test_spec = spec_files[0]
test_spec

'spectra/02400714_sws.fit'

In [64]:
# Read it in with astropy.io.fits, check dimensions.
test_hdu = fits.open(test_spec)
test_hdu.info()

Filename: spectra/02400714_sws.fit
No.    Name      Ver    Type      Cards   Dimensions   Format
  0  PRIMARY       1 PrimaryHDU      52   (4, 48924)   float32

In [68]:
# Utilize our defined function to transform a string of the .fits filename to a pandas dataframe and header.
# 'header' will be an astropy.io.fits.header.Header object; see a couple subsections below for conversion options.
df, header = isosws_fits_to_dataframe(test_spec)

#### Inspect dataframe

In [69]:
df.shape

(48924, 4)

In [70]:
df.head()

   wavelength  flux  spec_error  norm_error
0     2.36000 -3.34        0.52        0.52
1     2.36013 -3.23        0.52        0.52
2     2.36025 -3.13        0.52        0.52
3     2.36038 -3.06        0.51        0.51
4     2.36050 -3.01        0.51        0.51

In [71]:
df.describe()

         wavelength          flux    spec_error    norm_error
count  48924.000000  48924.000000  48924.000000  48924.000000
mean      13.890253     29.865271      1.316019      1.436715
std       11.323857     77.273079      2.070261      2.219514
min        2.360000     -6.720000      0.080000      0.080000
25%        4.717688     -2.600000      0.270000      0.390000
50%       10.250250     -0.660000      0.560000      0.600000
75%       19.009378     43.250000      0.990000      1.000000
max       45.389999   3170.389893     16.940001     17.129999

#### Header from the .fits file

In [72]:
type(header)

astropy.io.fits.header.Header

In [73]:
# Uncomment below to see full header of one file as an example.
header

SIMPLE  =                    T / Written by IDL:  Wed Apr  9 10:12:29 2003
BITPIX  =                  -32 / Number of bits per data pixel
NAXIS   =                    2 / Number of data axes
NAXIS1  =                    4 /
NAXIS2  =                48924 /
NSEG    =                   12 / Number of spectral segments
NSEG01  =                 1921 / Length of segment  1
NSEG02  =                 2520 / Length of segment  2
NSEG03  =                 3000 / Length of segment  3
NSEG04  =                 2240 / Length of segment  4
NSEG05  =                 4881 / Length of segment  5
NSEG06  =                 3400 / Length of segment  6
NSEG07  =                10800 / Length of segment  7
NSEG08  =                 4920 / Length of segment  8
NSEG09  =                 3601 / Length of segment  9
NSEG10  =                 4680 / Length of segment 10
NSEG11  =                    0 / Length of segment 11
NSEG12  =                 6961 / Length of segment 12
MSEG01  =                    1 / Data mode for segment  1
MSEG02  =                    1 / Data mode for segment  2
MSEG03  =                    1 / Data mode for segment  3
MSEG04  =                    1 / Data mode for segment  4
MSEG05  =                    1 / Data mode for segment  5
MSEG06  =                    1 / Data mode for segment  6
MSEG07  =                    1 / Data mode for segment  7
MSEG08  =                    1 / Data mode for segment  8
MSEG09  =                    1 / Data mode for segment  9
MSEG10  =                    0 / Data mode for segment 10
MSEG11  =                    1 / Data mode for segment 11
MSEG12  =                    1 / Data mode for segment 12
DATE    = '2003-04-09'         / Creation UTC (CCCC-MM-DD) date of FITS header
DATE_ISO= '2001-11-22'         / Creation date 2001/326 of ISO OLP data
TELESCOP= 'ISO     '           / Infrared Space Observatory
INSTRUME= 'SWS     '           / Instrument used
FILENAME= 'SWAA02400714'       / File name of OLP file
FILEVERS= '2667    '           / Version ID (derived from creation date)
OLPVERS = 'OLP_101 '           / SOC OLP system version
CALGVERS= 'CALG_71 '           / SOC OLP CAL-G files version
OBJECT  = 'NGC6543 '           / Target ID as given by proposer
OBSERVER= 'SWS_CAL '           / Proposer ID in ISO Mission DB
EOHAPLID= 'SWSPV_4 '           / Proposal ID
EQUINOX =        2000.00000000 / Equinox
EOHAUTCS= '95345125636'        / Approx. UTC of start of observation
EOHAUTCE= '95345144540'        / Approx. UTC of end of observation
ATTRA   =        269.639170000 / Intended Right Ascension of instrument viewing
ATTDEC  =        66.6331900000 / Intended DEClination (with ATTRA)
COMMENT Column 1 = wavelength (micron)
COMMENT Column 2 = flux (Jy)
COMMENT Column 3 = spectroscopic error (Jy)
COMMENT Column 4 = normalization error (Jy)
COMMENT FITS (Flexible Image Transport System) format is defined in 'Astronomy
COMMENT and Astrophysics', volume 376, page 359; bibcode 2001A&A...376..359H

In [74]:
# Can convert to other formats if we want to use the header information for something.
# See http://docs.astropy.org/en/stable/io/fits/api/headers.html

# header_str = header.tostring()
# header.totextfile('test_header.csv')

***